.removeButton {
	margin-right: 50px;
	font-size: 14px;
	padding: 3px 7px 3px 7px;
	cursor: pointer;
	display: flex;
	margin-left: auto;

	color: #ffffff !important;
	background-color: #22303c;
	border-color: #22303c;
	border-width: 3px;
	border-radius: 8px;
}
.removeButton:hover {
	background-color: #ff3131;
}

.moduleContainer {
	margin-right: 50px;
}

.confirmButton {
	padding: 5px;
	cursor: pointer;
	margin-right: 5px;
	color: #ffffff !important;
	background-color: #22303c;
	border-color: #22303c;
	border-width: 3px;
	border-radius: 8px;
}
.confirmButton:hover {
	background-color: #ff3131;
}
.rejectButton {
	padding: 5px;
	cursor: pointer;
	color: #ffffff !important;
	background-color: #22303c;
	border-color: #22303c;
	border-width: 3px;
	border-radius: 8px;
}
.rejectButton:hover {
	background-color: #1da1f2;
}
.moduleText {
	display: flex;
	justify-content: flex-end;
	justify-items: flex-end;
	margin-right: 8px;
	color: #ffffff !important;
}
.moduleButtons {
	display: flex;
	justify-content: flex-end;
	justify-items: flex-end;
}
