.footerContainer {
	height: 100px;
	padding: 10px;
	color: rgb(100, 100, 100);
	font-size: 14px;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	/* position: absolute;
	bottom: -600px;
	left: 0;
	right: 0; */
}

.footerText {
	border-top: 2px solid #192734;
	margin-top: 50px;
	padding: 20px 80px 0px 80px;
	list-style: none;
	display: flex;
	flex-direction: row;
	gap: 30px;
}

@media screen and (max-width: 590px) {
	.footerText {
		padding: 10px 40px 0px 40px;
		font-size: 10px;
		flex-direction: column;
		gap: 5px;
	}
}
