.navbar {
	font-size: 18px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 30px 10px 30px;
	height: 50px;
	background: #192734;
	color: #ffffff;
	box-shadow: black 0px 1px 3px;
	/* width: 97.9%; */
}
.loggedInUser {
	list-style: none;
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 30px;
}

.signOut {
	cursor: pointer;
	padding: 5px 20px 5px 20px;
	font-size: 18px;
	color: #ffffff !important;
	background-color: #22303c;
	border-color: #22303c;
	border-width: 3px;
	color: black;
	border-radius: 8px;
	transition: all 0.3s ease 0s;
}

.signOut:hover {
	background-color: #1da1f2;
}

@media screen and (max-width: 590px) {
	.navbar {
		height: 60px;
		width: 100%;
		font-size: 12px;
		padding: 5px;
	}
	.signOut {
		font-size: 12px;
		padding: 5px 10px 5px 10px;
	}
	.loggedInUser {
		gap: 10px;
		font-size: 10px;
	}
}
